@import "bourbon";
@import "neat";
@import "normalize";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.nav-board {
  display: flex;
  width: 100%;
  margin: auto;
  height: 5rem;
  background-color: rgb(84, 106, 196);
  cursor: pointer;
}

.fa-plus-circle {
  font-size: 4rem;
  align-self: center;
  color: rgb(34, 37, 59);
  padding-left: 20%;
}

.image-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.fa-picture-o {
   font-size: 2rem;
   padding-right: .5rem;
}

#form-url, #form-caption {
  width: 100%;
  padding: 1.5rem;
  margin: 1.5rem auto;
}

.submit-btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.btn {
  color: white;
  border-radius: 6%;
  font-size: 1.5rem;
  margin: 0 10px 20px 0;
}

.cancel {
  width: 200px;
  height: 100px;
}

.add-img {
  width: 280px;
  height: 100px;
  background: rgb(44, 148, 49);
}

.image-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration-style: none;
  width: 50%;
  margin: auto;
  padding: 0;
  background: rgb(167, 174, 180);
}

.img-item {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.captions {
  margin: 0 0 3rem 0;
  background: white;
  height: 5rem;
  font-size: 1.5rem;
  padding: 1rem;
}
